av/KOKU-Ajanvaraus/Services/KokuAppointmentProcessingServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="KokuAppointmentProcessingService" targetNamespace="http://soa.av.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.av.koku.arcusys.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://soa.common.koku.arcusys.fi/" version="1.0" xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="perform" type="tns:perform" />
<xs:element name="performResponse" type="tns:performResponse" />
<xs:complexType name="user">
<xs:sequence>
<xs:element minOccurs="0" name="displayName" type="xs:string" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="firstname" type="xs:string" />
<xs:element minOccurs="0" name="lastname" type="xs:string" />
<xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
<xs:element minOccurs="0" name="uid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="performResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="perform">
<xs:sequence />
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soa.av.koku.arcusys.fi/" xmlns:ns1="http://soa.common.koku.arcusys.fi/" xmlns:tns="http://soa.av.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.common.koku.arcusys.fi/" />
<xs:element name="approveAppointment" type="tns:approveAppointment" />
<xs:element name="approveAppointmentResponse" type="tns:approveAppointmentResponse" />
<xs:element name="declineAppointment" type="tns:declineAppointment" />
<xs:element name="declineAppointmentResponse" type="tns:declineAppointmentResponse" />
<xs:element name="getAppointment" type="tns:getAppointment" />
<xs:element name="getAppointmentForReply" type="tns:getAppointmentForReply" />
<xs:element name="getAppointmentForReplyResponse" type="tns:getAppointmentForReplyResponse" />
<xs:element name="getAppointmentResponse" type="tns:getAppointmentResponse" />
<xs:element name="storeAppointment" type="tns:storeAppointment" />
<xs:element name="storeAppointmentResponse" type="tns:storeAppointmentResponse" />
<xs:complexType name="storeAppointment">
<xs:sequence>
<xs:element minOccurs="0" name="appointment" type="tns:appointmentForEditTO" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="appointmentForEditTO">
<xs:complexContent>
<xs:extension base="tns:appointmentForReplyTO">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="receipients" nillable="true" type="tns:appointmentReceipientTO" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="appointmentForReplyTO">
<xs:complexContent>
<xs:extension base="tns:appointmentSummary">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="slots" nillable="true" type="tns:appointmentSlot" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="appointmentSummary">
<xs:sequence>
<xs:element name="appointmentId" type="xs:long" />
<xs:element minOccurs="0" name="status" type="tns:appointmentSummaryStatus" />
<xs:element minOccurs="0" name="sender" type="xs:string" />
<xs:element minOccurs="0" name="senderRole" type="xs:string" />
<xs:element minOccurs="0" name="senderUserInfo" type="ns1:user" />
<xs:element minOccurs="0" name="subject" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="appointmentReceipientTO">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="receipientUserInfos" nillable="true" type="ns1:user" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="receipients" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="targetPerson" type="xs:string" />
<xs:element minOccurs="0" name="targetPersonUserInfo" type="ns1:user" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="appointmentSlot">
<xs:sequence>
<xs:element name="slotNumber" type="xs:int" />
<xs:element minOccurs="0" name="appointmentDate" type="xs:date" />
<xs:element minOccurs="0" name="startTime" type="xs:time" />
<xs:element minOccurs="0" name="endTime" type="xs:time" />
<xs:element minOccurs="0" name="location" type="xs:string" />
<xs:element minOccurs="0" name="comment" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="storeAppointmentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAppointmentForReply">
<xs:sequence>
<xs:element minOccurs="0" name="appointmentId" type="xs:long" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAppointmentForReplyResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:appointmentForReplyTO" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="approveAppointment">
<xs:sequence>
<xs:element minOccurs="0" name="targetUser" type="xs:string" />
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element minOccurs="0" name="appointmentId" type="xs:long" />
<xs:element name="slotNumber" type="xs:int" />
<xs:element minOccurs="0" name="comment" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="approveAppointmentResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="declineAppointment">
<xs:sequence>
<xs:element minOccurs="0" name="targetUser" type="xs:string" />
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element minOccurs="0" name="appointmentId" type="xs:long" />
<xs:element minOccurs="0" name="comment" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="declineAppointmentResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getAppointment">
<xs:sequence>
<xs:element minOccurs="0" name="appointmentId" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAppointmentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="appointment" type="tns:appointmentForEditTO" />
</xs:sequence>
</xs:complexType>
<xs:simpleType name="appointmentSummaryStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="Created" />
<xs:enumeration value="Approved" />
<xs:enumeration value="Cancelled" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="approveAppointmentResponse">
    <wsdl:part element="tns:approveAppointmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="declineAppointmentResponse">
    <wsdl:part element="tns:declineAppointmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeAppointmentResponse">
    <wsdl:part element="tns:storeAppointmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeAppointment">
    <wsdl:part element="tns:storeAppointment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentForReplyResponse">
    <wsdl:part element="tns:getAppointmentForReplyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointment">
    <wsdl:part element="tns:getAppointment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentResponse">
    <wsdl:part element="tns:getAppointmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="approveAppointment">
    <wsdl:part element="tns:approveAppointment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentForReply">
    <wsdl:part element="tns:getAppointmentForReply" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="declineAppointment">
    <wsdl:part element="tns:declineAppointment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KokuAppointmentProcessingService">
    <wsdl:operation name="storeAppointment">
      <wsdl:input message="tns:storeAppointment" name="storeAppointment">
    </wsdl:input>
      <wsdl:output message="tns:storeAppointmentResponse" name="storeAppointmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentForReply">
      <wsdl:input message="tns:getAppointmentForReply" name="getAppointmentForReply">
    </wsdl:input>
      <wsdl:output message="tns:getAppointmentForReplyResponse" name="getAppointmentForReplyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveAppointment">
      <wsdl:input message="tns:approveAppointment" name="approveAppointment">
    </wsdl:input>
      <wsdl:output message="tns:approveAppointmentResponse" name="approveAppointmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="declineAppointment">
      <wsdl:input message="tns:declineAppointment" name="declineAppointment">
    </wsdl:input>
      <wsdl:output message="tns:declineAppointmentResponse" name="declineAppointmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointment">
      <wsdl:input message="tns:getAppointment" name="getAppointment">
    </wsdl:input>
      <wsdl:output message="tns:getAppointmentResponse" name="getAppointmentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KokuAppointmentProcessingServiceSoapBinding" type="tns:KokuAppointmentProcessingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="storeAppointment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="storeAppointment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="storeAppointmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentForReply">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAppointmentForReply">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAppointmentForReplyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveAppointment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="approveAppointment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="approveAppointmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="declineAppointment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="declineAppointment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="declineAppointmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAppointment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAppointmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KokuAppointmentProcessingService">
    <wsdl:port binding="tns:KokuAppointmentProcessingServiceSoapBinding" name="KokuAppointmentProcessingServicePort">
      <soap:address location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-av-model-0.1-SNAPSHOT/KokuAppointmentProcessingServiceImpl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>